body {
  background-image: url("images/green-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#uae-call {
  display: none;
  position: absolute;
  width: 400px;
  left: 35vw;
  top: 2vh;
}

#phone-ringing {
  display: none;
  position: absolute;
  width: 400px;
  left: 35vw;
  top: 2vh;
}

#lockscreen {
  position: absolute;
  width: 400px;
  left: 35vw;
  top: 2vh;
}

#dubai-call {
  display: none;
  position: absolute;
  width: 400px;
  left: 35vw;
  top: 2vh;
}

#restart-button {
  display: none;
}

#unlock-button {
  border: 0.15vw solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  width: 5vw;
  height: 8vh;
  left: 45.5vw;
  top: 83vh;
  opacity: 50%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#restart-button {
  border: 0.15vw solid rgb(255, 255, 255);
  border-radius: 40%;
  position: absolute;
  width: 5vw;
  height: 7vh;
  left: 45.5vw;
  top: 83vh;
  opacity: 50%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#attend-button {
  display: none;
  border: none;
  position: absolute;
  width: 7vw;
  height: 7vh;
  left: 44.8vw;
  top: 80vh;
  background-color: transparent;
  cursor: pointer;
}

#bPlayPause {
  display: none;
  border: none;
  position: absolute;
  width: 7vw;
  height: 7vh;
  left: 45.3vw;
  top: 76.5vh;
  background-color: transparent;
  cursor: pointer;
}

#imgPlayPause {
  width: 100%;
}
